@charset "utf-8";
/* CSS Document */

body
{background: #FFFFFF;
}
a:link
{font-weight:normal; color:Navy
}
a:visited
{font-weight:normal; color:Green;
}
a:hover
{font-weight:bold; color: Red; font-variant:small-caps;
}
p {font-style:italic; font-size:18px;
}
blue {color:#0000FF;
}
img {border-color: #000000; border:thick; border-style:ridge;
}